[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/SDL3"]
	path = external/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/clay"]
	path = external/clay
	url = git@github.com:nicbarker/clay.git
